name: test pull request

on:
  push:
    branches:
      - '!master'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: '3.8'
          architecture: 'x64'
      - name: Create Virtual Environment
        run: |
          python -m venv .venv
          source .venv/bin/activate
      - name: Install package
        run: |
          source .venv/bin/activate
          pip install -e .[all]
      - name: Run linters
        run: |
          source .venv/bin/activate
          make formatters
      - name: Run tests
        run: |
          source .venv/bin/activate
          make test
